<p id="notice"><%= notice %></p>

<h1>Listing Checkboxed Models</h1>

<table>
  <thead>
    <tr>
      <th>Music</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkboxed_models.each do |checkboxed_model| %>
      <tr>
        <td><%= checkboxed_model.music %></td>
        <td><%= link_to 'Show', checkboxed_model %></td>
        <td><%= link_to 'Edit', edit_checkboxed_model_path(checkboxed_model) %></td>
        <td><%= link_to 'Destroy', checkboxed_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checkboxed model', new_checkboxed_model_path %>
